html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid rgba(85, 82, 115, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(85, 82, 115, 0.9);
}

body {
  background-color: #555273;
  color: #222;
}

.App {
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  font-family: "Helvetica", sans-serif;
}
