.Comment {
  margin-bottom: 1.5rem;
}

.Comment__user {
  color: #7b7676;
}

.Comment__value {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.Comment__timestamp {
  display: inline-block;
  color: #7b7676;
  margin-left: 0.5rem;
}

.Comment__likes {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  color: #222;
  background-color: #e2eff1;
  border: none;
  cursor: pointer;
}

.Comment__likes:hover {
  color: white;
  background-color: #65799b;
}